
<section class="hero is-primary is-bold is-fullheight-with-navbar ">
    <div class="hero-body ">
<div class="container">
    <h1>View Order Pick-up</h1>
   
    <a href="#" routerLink="/category/index" class="btn btn-primary">Back</a>
    
    <div>
        <strong>ID:</strong>
        <p>{{ category.id }}</p>
    </div>
    
    <div>
        <strong>Name:</strong>
        <p>{{ category.name }}</p>
    </div>
    
    <div>
        <strong>Contact Number :</strong>
        <p>{{ category.number }}</p>
    </div>

    <div>
        <strong> Address:</strong>
        <p>{{ category.address }}</p>
    </div>
    <div>
        <strong>Status:</strong>
        <p>{{ category.status }}</p>
    </div>
</div>
</div>
</section>