
<div>
  <section class="hero is-primary is-bold is-fullheight-with-navbar ">
    <div class="hero-body ">
      <div class="">
        <p class="title is-center">Make cleaning of clothes easier!</p>
        <br>
        <button routerLink="/category/create/" class="button is-danger is-rounded is-largeis-hovered">Create a Pick-up Order </button>
      </div>
    </div>
  </section>
</div>
<div>
<section class="hero is-primary is-bold is-fullheight-with-navbar ">
    <div class="hero-body ">
      <div class="">
        
          <div class="column has-text-justified ">
            <br>
            <article class="tile is-child notification is-primary">
              <p class="title is-center">About Us</p>
              <p class="subtitle">
              <br>
              Laundry Ease recognizes the growing need for an efficient solution that caters to the demands of modern life. Traditional methods of laundry management often involve physically visiting a laundromat or employing in-house staff, which can be inconvenient and time-consuming.<br><br>
                 With Laundry Ease, it revolutionizes laundry management, empowering individuals to have more control over their time and resources, freeing them to focus on other important tasks and activities.</p>
            </article>
          </div>
          
            <div class="tile is-parent is-vertical">
              
              <article class="tile is-child notification is-warning">
                <p class="title">Why choose us?</p>
                <p class="subtitle">Laundry Business Owners and Laundry Customers will benefit in this Laundry Management System</p>
               
              </article>
              
              
            
          </div>
         
      
          
        
    </div>
    </div>
  </section>
</div>
 

<div>
  <section class="hero is-primary is-bold is-fullheight-with-navbar ">
    <div class="hero-body ">
      
        <div class="card">
          <div class="card-image">
            <figure class="image is-4by3">
              <img src="https://media0.giphy.com/media/v1.Y2lkPTc5MGI3NjExN3k2bm1rYmVta3pudHAzZXpwaWx5Nzlzdzl1NmN5enZrY3NpMGdycCZlcD12MV9pbnRlcm5hbF9naWZfYnlfaWQmY3Q9Zw/hGH9s8Rs7IAsh1HhEb/giphy.gif" alt="Placeholder image">
            </figure>
          </div>
          <div class="card-content">
            <div class="media">
              <div class="media-left">
                <figure class="image is-48x48">
                  <img src="https://media0.giphy.com/media/v1.Y2lkPTc5MGI3NjExN3k2bm1rYmVta3pudHAzZXpwaWx5Nzlzdzl1NmN5enZrY3NpMGdycCZlcD12MV9pbnRlcm5hbF9naWZfYnlfaWQmY3Q9Zw/hGH9s8Rs7IAsh1HhEb/giphy.gif" alt="Placeholder image">
                </figure>
              </div>
              <div class="media-content">
                <p class="title is-4">Laundry Ease</p>
                <p class="subtitle is-6">@laundryease</p>
              </div>
            </div>
            <div class="content">
              Lorem ipsum dolor sit amet, consectetur adipiscing elit.
              Phasellus nec iaculis mauris. <a>@bulmaio</a>.
              <a href="#">#css</a> <a href="#">#responsive</a>
              <br>
              <time datetime="2016-1-1">11:09 PM - 1 Jan 2016</time>
              </div>
        
           
            
          
        </div>
        
          
        </div>
<br>
        
        <div class="tile is-parent is-vertical">
              
          <article class="tile is-child notification is-warning">
            <nav class="level">
              
              
              <div class="level-item has-text-centered">
                <div>
                  <p class="heading">Followers</p>
                  <p class="title">456,000</p>
                </div>
              </div>
              
            </nav>
          </article>
          <button routerLink="/contact" class="button is-danger is-rounded is-largeis-hovered">Connect with Us! </button>
          
        
      </div>
      
      
    </div>
  </section>
</div>
<div>

  
