<footer class="footer">
    <div class="content has-text-centered">
      <p>
        <strong>Final Project: Laundry Management System
          
          <br>
          <br>
          Made with ❤️ by:

          <br>
        
          
          
          
          Joerel Belen<br>
          Meryiel Joelelen Cordero<br>
          Crisbel Enobay<br>
          Louise Anne Raymundo<br>
          Nicole Ann San Jose<br>
          <br>
          <br>
          July 2023
           </strong> 


      </p>
    </div>
  </footer>
