



 <link rel="preconnect" href="https://fonts.googleapis.com">
 <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
 <link href="https://fonts.googleapis.com/css2?family=Caprasimo&family=Didact+Gothic&family=Inter:wght@200;600&family=Raleway:wght@600&display=swap" rel="stylesheet">

 <div class="navbar ">
  <!-- logo -->
  <div class="navbar-brand">
    <a class="navbar-item">
      <img class="logo"  src="https://media0.giphy.com/media/v1.Y2lkPTc5MGI3NjExN3k2bm1rYmVta3pudHAzZXpwaWx5Nzlzdzl1NmN5enZrY3NpMGdycCZlcD12MV9pbnRlcm5hbF9naWZfYnlfaWQmY3Q9Zw/hGH9s8Rs7IAsh1HhEb/giphy.gif">    Laundry Ease
    </a>
 <!-- menu -->


  </div>
  <div class="navbar-menu">
    <div class="navbar-end">
      <a class="navbar-item" routerLink="/">Home</a>
      <a class="navbar-item" routerLink="/category/create/">Create Pick-up Order</a>
      <a class="navbar-item" routerLink="/category/index/">Edit Pick-up Order</a>
 </div>


  </div>
 </div>



